<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

  <title>KYUNGHEE - JOB[DB]</title>

  <!-- Bootstrap core CSS -->
  <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
  <link href = "../static/css/bootstrap.css" rel = "stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">KYUNGHEE-JOB[DB]</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update">Update</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">SEARCH PAGE</h1>
        <p class="lead">Search and Find the employment outcome and specifications of KyungHee graduates</p>
        <br>
        <br>
        <h2>SEARCH DATA</h2>
        <br>

        <h5 class ="mt-5">

          <h4><b>검색 옵션을 선택해주세요.</b></h4>
          <br>
          <br>

          <p>
            <form action = "/inputMajor" method = "POST" style = "margin:10px;">
              <div style = "float:left;">
                <input type = "text" id = "input_major" name = "input_major" placeholder = "예시: 컴퓨터공학"><br>
              </div>
              <div class = "button" style = "float:left;">
                <input type = "submit" value = "학과별 검색" onClick = "location.href='/inputMajor'">
              </div>
            </form>
          </p>
          <br>
          <p>
            <form action = "/inputCorp" method = "POST" style = "margin:10px;">
              <div style = "float:left;">
                <input type = "text" id = "input_Corp" name = "input_Corp" placeholder = "예시: NAVER"><br>
              </div>
              <div class = "button" style = "float:left;">
                <input type = "submit" value = "회사별 검색" onClick = "location.href='/inputCorp'">
              </div>
            </form>
          </p>

          <br>
          <br>
          <br>
          <br>
          <h4><b>{{ corpName }} DB</b></h4>
          <table valign = "top" border = "3" width = 100% margin = auto >
            <th>학번</th><th>학과</th><th>이름</th><th>학점</th><th>토익</th><th>인턴</th><th>취업</th><th>개인연봉</th>
            {% for row in DBdata %}
            <tr>
              <td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td><td>{{ row[5] }}</td><td>{{ row[6] }}</td><td>{{ row[7] }}</td>
            <tr>
            {% endfor %}
          </table>


          <br>
          <br>
          <br>
          <br>
          <h4><b>{{ corpName }} 학점 DB</b></h4>

          <canvas id="chart" width="600" height="400"></canvas>
          <script>
            // bar chart data
            var barData = {
              labels : [
                {% for item in bgrade %}
                 "{{ item }}",
                {% endfor %}],

              datasets : [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [
                  {% for item in grade %}
                     "{{ item }}",
                    {% endfor %}
            ]
                }
              ]
            }

           // get bar chart canvas
           var mychart = document.getElementById("chart").getContext("2d");

             steps = 5
             max = 4.3

           // draw bar chart
           new Chart(mychart).Bar(barData, {
             scaleOverride: true,
             scaleSteps: steps,
             scaleStepWidth: Math.ceil(max / steps),
             scaleStartValue: 0,
             scaleShowVerticalLines: true,
             scaleShowGridLines : true,
             barShowStroke : true,
             scaleShowLabels: true
             }
           );

          </script>

          <table valign = "top" border = "3" width = 100% margin = auto >
            <th>평균 학점</th><th>최고 학점</th><th>최저 학점</th>
            {% for row in DBdata_grade %}
            <tr>
              <td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td>
            <tr>
            {% endfor %}
          </table>


          <br>
          <br>
          <br>
          <br>
          <h4><b>{{ corpName }} 토익 DB</b></h4>

          <canvas id="chart8" width="600" height="400"></canvas>
          <script>
            // bar chart data
            var barData_toeic = {
              labels : [
                {% for item in btoeic %}
                 "{{ item }}",
                {% endfor %}],

              datasets : [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [
                  {% for item in toeic %}
                     "{{ item }}",
                    {% endfor %}
            ]
                }
              ]
            }

           // get bar chart canvas
           var mychart_toeic = document.getElementById("chart8").getContext("2d");

             steps = 10
             max = 990

           // draw bar chart
           new Chart(mychart_toeic).Bar(barData_toeic, {
             scaleOverride: true,
             scaleSteps: steps,
             scaleStepWidth: Math.ceil(max / steps),
             scaleStartValue: 0,
             scaleShowVerticalLines: true,
             scaleShowGridLines : true,
             barShowStroke : true,
             scaleShowLabels: true
             }
           );

          </script>


          <table valign = "top" border = "3" width = 100% margin = auto >
            <th>평균 토익</th><th>최고 토익</th><th>최저 토익</th>
            {% for row in DBdata_toeic %}
            <tr>
              <td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td>
            <tr>
            {% endfor %}
          </table>


          <br>
          <br>
          <br>
          <br>
          <h4><b>{{ corpName }} 인턴 DB</b></h4>

          <canvas id="chart9" width="600" height="400"></canvas>
          <script>
            // bar chart data
            var barData_intern = {
              labels : [
                {% for item in bintern %}
                 "{{ item }}",
                {% endfor %}],

              datasets : [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [
                  {% for item in intern %}
                     "{{ item }}",
                    {% endfor %}
            ]
                }
              ]
            }

           // get bar chart canvas
           var mychart_intern = document.getElementById("chart9").getContext("2d");

             steps = 4
             max = 4

           // draw bar chart
           new Chart(mychart_intern).Bar(barData_intern, {
             scaleOverride: true,
             scaleSteps: steps,
             scaleStepWidth: Math.ceil(max / steps),
             scaleStartValue: 0,
             scaleShowVerticalLines: true,
             scaleShowGridLines : true,
             barShowStroke : true,
             scaleShowLabels: true
             }
           );

          </script>

          <table valign = "top" border = "3" width = 100% margin = auto >
            <th>평균 인턴</th><th>최고 인턴</th><th>최저 인턴</th>
            {% for row in DBdata_intern %}
            <tr>
              <td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td>
            <tr>
            {% endfor %}
          </table>


          <br>
          <br>
          <br>
          <br>
          <h4><b>{{ corpName }} 연봉 DB</b></h4>

          <canvas id="chart10" width="600" height="400"></canvas>
          <script>
            // bar chart data
            var barData_salary = {
              labels : [
                {% for item in bsalary %}
                 "{{ item }}",
                {% endfor %}],

              datasets : [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [
                  {% for item in salary %}
                     "{{ item }}",
                    {% endfor %}
            ]
                }
              ]
            }

           // get bar chart canvas
           var mychart_salary = document.getElementById("chart10").getContext("2d");

             steps = 12
             max = 12000

           // draw bar chart
           new Chart(mychart_salary).Bar(barData_salary, {
             scaleOverride: true,
             scaleSteps: steps,
             scaleStepWidth: Math.ceil(max / steps),
             scaleStartValue: 0,
             scaleShowVerticalLines: true,
             scaleShowGridLines : true,
             barShowStroke : true,
             scaleShowLabels: true
             }
           );

          </script>

          <table valign = "top" border = "3" width = 100% margin = auto >
            <th>평균 연봉</th><th>최고 연봉</th><th>최저 연봉</th>
            {% for row in DBdata_salary %}
            <tr>
              <td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td>
            <tr>
            {% endfor %}
          </table>


          <br>
          <br>
          <br>
          <br>

        </h5>

      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.slim.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>
