<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KYUNGHEE - JOB[DB]</title>

  <!-- Bootstrap core CSS -->
  <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
  <link href = "../static/css/bootstrap.css" rel = "stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">KYUNGHEE-JOB[DB]</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update">Update</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">UPDATE PAGE</h1>
        <p class="lead">Search and Find the employment outcome and specifications of KyungHee graduates</p>
        <br>
        <br>
        <h2>UPDATE FORMS</h2>
        <h5 class ="mt-5">

          <form action = "/method" method = "POST">
            <br>
            <label for = "student_num"><b>STUDENT-NUM</b></label><br>
            <input type = "number" id = "student_num" name = "student_num" placeholder = "2017101294"><br>
            <label for = "student_major"><b>STUDENT-MAJOR</b></label><br>
            <input type = "text" id = "student_major" name = "student_major" placeholder = "컴퓨터공학"><br>
            <label for = "student_name"><b>STUDENT-NAME</b></label><br>
            <input type = "text" id = "student_name" name = "student_name" placeholder = "임태민"><br>
            <label for = "grade"><b>GRADE</b></label><br>
            <input type = "number" step = "any" id = "grade" name = "grade" placeholder = 3.87><br>
            <label for = "toeic"><b>TOEIC</b></label><br>
            <input type = "number" id = "toeic" name = "toeic" placeholder = 920><br>
            <label for = "intern"><b>INTERNSHIP</b></label><br>
            <input type = "number" id = "intern" name = "intern" placeholder = 0><br>
            <label for = "corp"><b>CORPORATION</b></label><br>
            <input type = "text" id = "corp" name = "corp" placeholder = "NAVER"><br><br>
            <input type = "submit" placeholder = "Submit">
          </form>
        </h5>

      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.slim.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>
